<div class="Stocker">
    <h1>My Dashboard

        <div class="right chip">
            <img src="https://secure.gravatar.com/avatar/9311d006ce181fc46e9eefcc37e7af81?s=50&r=g" alt="Contact Person" class="circle">
            Jane Doe
        </div>

    <!--<a class="right collection-item avatar">-->
        <!--<img src="https://secure.gravatar.com/avatar/9311d006ce181fc46e9eefcc37e7af81?s=50&r=g" alt="" class="circle">-->
    <!--</a>-->
    </h1>
    <search-comp></search-comp>
    <stocks-comp></stocks-comp>
</div>